* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif ;
}
/* Common */


.text-center {
    text-align: center !important;
}

.text-while {
    color: #fff !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.pull-right {
    float: right !important;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 10px 18px;
    display: inline-block;
    margin-bottom: 16px;
    border: none;
}

.btn:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
} 

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.3333%;
}

.col-full   {
    width: 100%;
}

.col-half  {
    width: 50%;
}

.clear {
    clear: both;
}

/* Main */
#main {

}


#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    /* Nếu dùng thẻ div khác mà muôn sang phải thì cứ float: right */
    /* Còn #nav cần cho display: inline-block để icon tự dộng bay lên header  */

    display: inline-block;
} 

#nav > li:hover > a {
    color: black;
    background-color: gray;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li >a {
    color: #fff;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 1px 24px;
    display: block;
}


#nav > li:hover >a,
#nav .subnav li:hover a {
    color: black;
    background-color: gray;

}

/* #nav li:hover .subnav {
    display: block;
}  */

#nav .subnav {
    display: none; 
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

#nav .subnav a {
    color: black;
    padding: 0 16px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search {
    line-height: 46px;
    float: right;
    padding: 0 24px;
}

#header .search:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .mobile-menu-btn:hover {
    background-color: #757575;
}

#header .mobile-menu-btn:hover .mn-ic {
    color: #000;
}

#header .mn-ic,
#header .search  {
    color: #fff;
    font-size: 18px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slider/chicago.jpg) top center / cover no-repeat;
}
#slider .text-content {
    position: absolute;
    bottom: 47px;
    color:#fff;
    /* cách 1 */
    /* left: 50%;
    transform: translate(-50%); */
    /* cách 2 */
    /* width:100%; */
    /* cách 3 */
    right: 0;
    left: 0;
    text-align: center;
}

#slider .text-heading {
    font-weight: 400;
    size: 24px;
}

#slider .text-discription {
    size: 15px;
    font-weight: bolder;
    margin-top: 25px;
}


/* About section */
#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0;
    margin-left: auto ;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 500;
    text-align: center;
}


#content .section-sub-heading {
    font-size: 15px;
    margin-top: 15px;
    font-style: italic ;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .section-heading,
#content .section-sub-heading {
    text-align: center;
}

#content .team-list {
    margin-top: 32px;
    overflow: hidden    
}

#content .team-item {
    float: left;
    width: 33.33333%;
    text-align: center;
}

#content .team-name {
    font-size: 15px;
    text-align: center;
}

#content .team-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
/* Tour section */
#content .tour-section {
    background-color: black;
}

.tickets-list {
    list-style: none;
    background-color: #fff;
    margin-top : 39px;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    line-height: 24px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    margin-top: -3px;
}
/* Places */
.places-list {
    margin-top: 32px;
    
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.7;
}

.place-body {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 15px;
    background-color: #fff;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5;

}
/* Contact form */
.contact-content {
    margin: 48px 0;
}

.contact-info{
    font-size: 16px;
    line-height: 1.5;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width:100%;
}

.contact-info i[class*="fas fa-"] {
    width: 30px;
    display: inline-block;
}

.map-section img{
    width: 100%;
    filter: grayscale(0.5);
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 23px;

}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .copy-right a,
#footer .social-list a:hover {
    color:rgba(0, 0, 0, 0.4)

}

#footer .copy-right {
    margin-top: 15px;
    color:rgba(0, 0, 0, 0.6)
}

#footer .copy-right a {
    color:rgba(0, 0, 0, 0.6)

}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal .modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFacein ease 0.3s;
}

.modal .modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal .modal-heading-icon {
    margin-right: 16px;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets:hover {
    opacity: 0.9;
}

#buy-tickets {
    background: #009688;
    border: none;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 17px;
    cursor: pointer;
}

.modal-footer {
    padding: 18px;
    text-align: right;
}

.modal-footer a {
    color: #2196f3;
}

.modal.open {
    display: flex;
}

@keyframes modalFacein {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modalFaceout {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}   